 <!-- Form with placeholder -->
<md-dialog aria-label="Mango (Fruit)"
           ng-cloak
           style="width:100%;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 data-ng-bind="posts.editAble.fields.ru.title.value"></h2>
                <span flex></span>
                <!--<md-button class="md-icon-button">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>-->
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab data-ng-repeat="(key, language) in posts.editAble.fields" label="{{ key }}">
                    <md-content class="md-padding">
                        <div class="row">
                            <md-input-container class="col m6">
                                <label>Заголовок</label>
                                <input data-ng-model="language.title.value">
                            </md-input-container>
                            <md-input-container class="col m12">
                                <label>Текст</label>
                                <text-angular data-ng-model="language.content.value"></text-angular>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">

        </md-dialog-actions>
    </form>
</md-dialog>
